{% extends 'base.html' %}

{% block content %}

<h1>Posts</h1>


<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{post.title}} </a>- <a href="{% url 'category' post.category %}">{{post.category|slugify}} </a> -  {{post.author}} - {{post.published_date}}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                - <a href="{% url 'update-post' post.pk %}">Edit</a>
                -<a href="{% url 'delete-post' post.pk %}">Delete</a><br/>
            {% endif %}    
        {% endif %}  

        
        

    {{ post.snippets }}
    </li>

{% endfor %}
</ul>


{% endblock %}
